<div class="row">
  <div class="col-md-12">
    <h2 class = "header-fill text-padding dk-hdr-tx">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="name-login">Username:</label>
        <input class="form-input" type="text" id="name-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary spc-btn-width" type="submit">login</button>
      </div>
      <a class = "header-fill" href="/signup">Sign up instead</a>        
    </form>
  </div>
  <div class="col-md-6">
</div>

<script src="./js/login.js"></script>
